main{
	display: flex;
	justify-content: space-evenly;
	padding-top: 20px;
}

ul {
 list-style-type: none;
 }


main > section{
	height: 30vh;
	border: 1px solid black;
	border-color: orange;
	padding: 0 5vw;
	text-align: 
	

}
